/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotron h1{

	font-family: 'Arvo', courier, serif;	
}

#get-involved {
background-color: #f5f5f5;

}

footer{
	background-color: #F4511E;
	padding-top: 100px;
	padding-bottom: 30px


}
.jumbotron {
	text-align: center;
	background-image: url('../images/hero_image.jpg'); 
	background-repeat: no-repeat;
	color: white;

}
.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;

}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;

}

ul.nav {
	font-size: 13px;
}

.btn-lg {
	font-size: 30px;
}

.homepage {

	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}

.homepage h2, .homepage h3 {
	color: #f4511e;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;	
} 

.homepage h2 {

	font-size: 30px
}

.homepage h3 {

	font-size: 26px;
}
.customi {
	color: #F4511E;
}

.homepage p {
  font-size: 18px;
  font-weight: 300;
}

.homepage a {
	color: grey;
}

.homepage a:hover {
	color: grey;
	text-decoration: none;
	opacity: 0.5;
}

.homepage hr {

	border-top: 1px solid#F4511E ;
	width: 165px;
	margin-top: 15px
}



#rcornersImage {
    border-radius: 25px;
    border: 2px solid ##;
    width: 200px;
    height: 150px;
   
}


/* Responsive Styling */

@media (max-width: 1199px) { 

	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

}

@media (max-width: 991px) { 

	.jumbotron h1 {
		font-size: 44px;
	}

	.jumbotron p {
		padding: 0 10px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media (max-width: 767px) { 

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	footer img {
		width: 80%;
	}

}


